<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Alternatum{% endblock %}</title>
        {% block base_stylesheets %}
            <!-- bootstrap-->
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" >
            {% endstylesheets %}
        {% endblock %}
        {% block site_stylesheets %}
            <!-- site css-->
            {% stylesheets '@site_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" >
            {% endstylesheets %}
        {% endblock %}
        {% block page_stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% include 'header/header.html.twig' %}
            {% endblock %}
            <div class="container-fluid">
                {% block main %}
                {% endblock %}
            </div>

            {% block footer %}
                {% include 'footer/footer.html.twig' %}
            {% endblock %}
        {% endblock %}
        {% block base_javascripts %}
            <!--Jquery and Bootsrap js-->
            {% javascripts '@jquery' '@bootstrap_js' %}
                <script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block page_javascripts %}
        {% endblock %}
    </body>
</html>
