{% extends 'base.html.twig' %}
{% block page_stylesheets %}
    <!-- internal css-->
    {% stylesheets '@internal_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" >
    {% endstylesheets %}
{% endblock %}
{% block main %}
{% if all_projects | length == 0 %}
<h3 class="text-center">Sorry, there are no live projects at the moment</h3>
{% else %}
<h1 class="text-center">Please select a project</h1>
{% endif %}
{% for project in all_projects %}
    <div class="col-xs-12 col-sm-4 col-md-3 mar-top-30">
        <a href="{{path('internal_add_building', {project_id: project.id, project_name: project.name})}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                    <h2 class="text-center">{{project.name}}</h2>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
{% endblock %}
