{% extends 'base.html.twig' %}
{% block page_stylesheets %}
    <!-- internal css-->
    {% stylesheets '@internal_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" >
    {% endstylesheets %}
{% endblock %}
{% block main %}
<div class="col-xs-12">
    <h1 class="text-center">
        Please select a building
    </h1>
</div>
<div class="col-xs-12">
    {% for building in buildings %}
        <a href="{{path('internal_building_logs_by_building_id', {'building_id': building.id, 'building_name': building.building}) }}">
            <div class="col-xs-6 col-sm-4 col-md-2 mar-top-20 text-center">
                <div class="col-xs-12 internal-home-item">
                    <div style="display: table-cell; vertical-align: middle; font-size: 20px;">
                        {{building.building}}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
