.internal-home-item {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
    min-height: 100px;
    display: table;
    font-size: 20px;
}

.internal-home-item div {
    display: table-cell;
    vertical-align: middle;
}

.user-row {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px 0px 10px 0px !important;
}
